.ion-content {
    --background: url(C:\kastoori\ionic-react-music\public\assets\images\bg-img.jpg);
    text-align: center;
    height: 69vh!important;
  }
  
  .email{
    position: absolute;
    width: 250px;
height: 30px;
left: 15px;
right: 15px;
top: 280px;

background: orange;
border-radius: 3px;
  }
  .psw{
    position: absolute;
    width: 250px;
    height: 30px;
    left: 15px;
    right: 15px;
top: 330px;

background: orange;
border-radius: 3px;
  }
  .cpsw{
    position: absolute;
    width: 250px;
    height: 30px;
    left: 15px;
    right: 15px;
top: 380px;

background: orange;
border-radius: 3px;
  }

  .text1{
    position: absolute;
width: 156px;
height: 24px;
left: 65px;
top: 200px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;

color: #FFFFFF;
  }
  .text2{
    position: absolute;
width: 100px;
height: 36px;
left: 95px;
top: 230px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 10px;

color: #FFFFFF;
  }
  .text3{
    position: absolute;
width: 236px;
height: 18px;
left: 15px;
top: 470px;
color: #FFFFFF;
font-size: 10px;

  }
  .signup-btn{
    /* position: absolute;
    width: 130px;
    height: 35px;
    left: 65px;
    top: 375px;
    border-radius: 50px; */
    width: 130px;
    height: 35px;
    left: 65px;
    top: 420px;
    position: absolute;
    background: black;
    border-radius: 50px;
  }
  .text{
  position: absolute;
width: 180px;
height: 70px;
left: 10px;
top: 7px;
}